@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .signature-card {
    @apply bg-[#CFA689] p-4 rounded-xl shadow-md;
  }

  .signature-image {
    @apply w-full h-48 object-cover rounded-lg mb-3;
  }

  .signature-name {
    @apply font-bold text-lg;
  }

  .signature-desc {
    @apply text-sm text-white/90 mb-2;
  }

  .signature-price {
    @apply font-semibold bg-white rounded-full py-1;
  }

  .signature-btn {
    @apply mt-3 px-4 py-1 bg-[#A6C39F] text-white rounded-full hover:opacity-80 transition;
  }

  .product-card {
    @apply bg-white rounded-xl shadow-md p-4;
  }

  .product-image {
    @apply rounded-lg h-40 w-full object-cover mb-3;
  }

  .product-title {
    @apply font-bold;
  }

  .product-price {
    @apply text-sm text-gray-500 mb-2;
  }

  .qty-wrapper {
    @apply flex items-center gap-3;
  }

  .btn-minus {
    @apply px-3 py-1 bg-[#E8C8C6] rounded-full;
  }

  .btn-plus {
    @apply px-3 py-1 bg-[#A6C39F] rounded-full text-white;
  }
}

